* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-image: url(./assets/background-image.jpg);
    background-size: cover;
    color: #fffde3;
    font-family: "Quattrocento", serif;
    display: flex;
    justify-content: center;
    margin: 30px 0px;
    font-size: 1.25rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    border-radius: 15px;
    padding: 20px;
    background-color: #00000060;
    backdrop-filter: blur(1.8px); 
}

#spiderman-logo {
    width: 150px;
    margin-bottom: 25px;
}

.label-paragraph {
    margin-bottom: 3px;
}

select {
    border: none;
    background-color: #fffde3;
    padding: 10px;
    margin-bottom: 15px;
    width: 300px;
    border-radius: 5px;
    font-size: 1.1rem;
    appearance: none;
    cursor: pointer;
}

input {
    border: none;
    background-color: #fffde3;
    padding: 10px;
    margin: 18px 0px;
    width: 100%;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
}

button {
    background-color: #ed412b;
    border: none;
    color: #fffde3;
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    margin: 18px 0 35px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
    transition: linear 400ms;
    z-index: 1;
}

button:active {
    opacity: 0.6;
}

section {
    color: black;
    background-color: #fffde3c0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    border: 2px solid #ed422bc7;
    border-radius: 90px 12px 60px 12px / 60px 90px 60px 0px;
    padding: 20px;
}

#image-converted-currency, #image-brazilian-real {
    width: 58px;
    filter: drop-shadow(1px 3px 3px #00000046);
}

#spiderman-inverse {
    position: fixed;
    width: 128px;
    left: 67%;
    top: 49%;
    filter: drop-shadow(2px 1px 3px rgba(0, 0, 0, 0.7));
}

.paragraph-value {
    font-weight: 700;
}

#spider-arrow {
    width: 100px;
    margin: 15px 0;
}

@media screen and (max-width: 600px) {
    body {
        background-image: url(./assets/background-image.jpg);
        background-position: -50%;
    }
}